In [2]:
import pandas as pd

In [3]:
# 1
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# 2
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
python_list = series.tolist()
print(python_list)
print(type(python_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [5]:
# 3
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])
addition = series1 + series2
subtraction = series1 - series2
multiplication = series1 * series2
division = series1 / series2
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

Addition: 0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction: 0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication: 0     2
1    12
2    30
3    56
4    90
dtype: int64
Division: 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [6]:
# 4
dictionary = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
series = pd.Series(dictionary)
print(series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [7]:
# 5
import numpy as np
numpy_array = np.array([10, 20, 30, 40, 50])
series = pd.Series(numpy_array)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
# 6
series = pd.Series([1, 2, 3, 4, 5])
series = series.astype(float)
print(series)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [9]:
# 7
series = pd.Series([1, 2, 3, 4, 5])
array = series.values
print(array)

[1 2 3 4 5]

In [10]:
# 8
data = {'Name': ['Tom', 'Jack', 'Steve', 'Ricky'], 'Age': [28, 34, 29, 42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [11]:
# 9
# i) 
emp_ids = [101, 102, 103, 104, 105, 106, 107, 108, 109, 110]
names = ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack']
# ii)
series = pd.Series(names, index=emp_ids)
# iii)
print(type(series))
# iv)
df = pd.DataFrame(series, columns=['Name'])
# v)
print(df)
print(df.head())
print(df.tail())
print(df.iloc[[0, 1, -2, -1]])
print(df.iloc[4])
print(df.iloc[3])
# vi)
df.to_csv('MyRecord.csv')

<class 'pandas.core.series.Series'>
        Name
101    Alice
102      Bob
103  Charlie
104    David
105     Emma
106    Frank
107    Grace
108   Hannah
109      Ian
110     Jack
        Name
101    Alice
102      Bob
103  Charlie
104    David
105     Emma
       Name
106   Frank
107   Grace
108  Hannah
109     Ian
110    Jack
      Name
101  Alice
102    Bob
109    Ian
110   Jack
Name    Emma
Name: 105, dtype: object
Name    David
Name: 104, dtype: object

In [13]:
# 11
# i)
df = pd.read_csv('Advertising.csv')
# ii)
print(df.head())
# iii)
print(df.tail())
# iv)
print(df.columns)
# v)
print(df.tail(3))
# vi)
print(df.info())
# vii)
print(df.dtypes)
# viii)
print(df.isnull().sum())
# ix)
df.drop(columns='Radio', inplace=True)
print(df.head(10))
# x)
df['Updated_Sales'] = df['Sales'] * 1.10
# xi)
print(df.shape)
# xii)
print(df.max())
print(df.min())
print(df.mean())
print(df.median())
print(df.std())
# xiii)
print(df.describe())

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4
Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')
     Unnamed: 0     TV  Radio  Newspaper  Sales
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB
None
Unnamed: 0      int64
TV            float64
Radio         float64
Newspaper     float64
Sales         float64
dtype: object
Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64
   Unnamed: 0     TV  Newspaper  Sales
0           1  230.1       69.2   22.1
1           2   44.5       45.1   10.4
2           3   17.2       69.3    9.3
3           4  151.5       58.5   18.5
4           5  180.8       58.4   12.9
5           6    8.7       75.0    7.2
6           7   57.5       23.5   11.8
7           8  120.2       11.6   13.2
8           9    8.6        1.0    4.8
9          10  199.8       21.2   10.6
(200, 5)
Unnamed: 0       200.0
TV               296.4
Newspaper        114.0
Sales             27.0
Updated_Sales     29.7
dtype: float64
Unnamed: 0       1.00
TV               0.70
Newspaper        0.30
Sales            1.60
Updated_Sales    1.76
dtype: float64
Unnamed: 0       100.50000
TV               147.04250
Newspaper         30.55400
Sales             14.02250
Updated_Sales     15.42475
dtype: float64
Unnamed: 0       100.50
TV               149.75
Newspaper         25.75
Sales             12.90
Updated_Sales     14.19
dtype: float64
Unnamed: 0       57.879185
TV               85.854236
Newspaper        21.778621
Sales             5.217457
Updated_Sales     5.739202
dtype: float64
       Unnamed: 0          TV   Newspaper       Sales  Updated_Sales
count  200.000000  200.000000  200.000000  200.000000     200.000000
mean   100.500000  147.042500   30.554000   14.022500      15.424750
std     57.879185   85.854236   21.778621    5.217457       5.739202
min      1.000000    0.700000    0.300000    1.600000       1.760000
25%     50.750000   74.375000   12.750000   10.375000      11.412500
50%    100.500000  149.750000   25.750000   12.900000      14.190000
75%    150.250000  218.825000   45.100000   17.400000      19.140000
max    200.000000  296.400000  114.000000   27.000000      29.700000